
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<input name="group4" type="radio" id="radio_1" class="radio-col-black" />
    <label for="radio_1">BLACK</label>
    <input name="group4" type="radio" id="radio_2" class="radio-col-black" />
    <label for="radio_2">BLACK</label>*@

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="header">
            <h2>
                ANKET GİRİŞ FORM
            </h2>
        </div>
        <div class="body">
            <div>
                <div>
                    <h4 class="">House Keeping</h4>
                    <hr />
                </div>
                <div class="form-group">
                    <div>
                        <div class="align-center"><b class="text-center">Güleryüz ve ilgi</b></div>
                    </div>

                    <div class="align-center">
                        <div class="col-md-4">
                            <input name="group1" type="radio" id="radio_1" class="radio-col-black" />
                            <label for="radio_1">Kötü</label>
                        </div>

                        <div class="col-md-4">
                            <input name="group1" type="radio" id="radio_2" class="radio-col-black" />
                            <label for="radio_2">Orta</label>
                        </div>

                        <div class="col-md-4">
                            <input name="group1" type="radio" id="radio_3" class="radio-col-black" />
                            <label for="radio_3">İyi</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">

                    <div>
                        <div class="align-center"><b class="text-center">Hijyen ve Temizlik Hızı</b></div>
                    </div>

                    <div class="align-center">
                        <div class="col-md-4">
                            <input name="group2" type="radio" id="radio_4" class="radio-col-black" />
                            <label for="radio_4">Kötü</label>
                        </div>

                        <div class="col-md-4">
                            <input name="group2" type="radio" id="radio_5" class="radio-col-black" />
                            <label for="radio_5">Orta</label>
                        </div>

                        <div class="col-md-4">
                            <input name="group2" type="radio" id="radio_6" class="radio-col-black" />
                            <label for="radio_6">İyi</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="body">
            <div>
                <h4 class="">Resepsiyon</h4>
                <hr />
                <div class="form-group">
                    <div class="align-center"><b class="text-center">Güleryüz ve ilgi</b></div>
                    <br />
                    <div class="align-center">
                        <div class="col-md-2">
                            <input name="group4" type="radio" id="radio_7" class="radio-col-black" />
                            <label for="radio_7">Çok Kötü</label>
                        </div>
                        <div class="col-md-2">
                            <input name="group4" type="radio" id="radio_8" class="radio-col-black" />
                            <label for="radio_8">Kötü</label>
                        </div>
                        <div class="col-md-2">
                            <input name="group4" type="radio" id="radio_9" class="radio-col-black" />
                            <label for="radio_9">Orta</label>
                        </div>
                        <div class="col-md-2">
                            <input name="group4" type="radio" id="radio_10" class="radio-col-black" />
                            <label for="radio_10">İyi</label>
                        </div>
                        <div class="col-md-2">
                            <input name="group4" type="radio" id="radio_11" class="radio-col-black" />
                            <label for="radio_11">Çok İyi</label>
                        </div>
                        <div class="col-md-2">
                            <input name="group4" type="radio" id="radio_12" class="radio-col-black" />
                            <label for="radio_12">Fikrim Yok</label>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="form-group">
                    <div class="align-center"><b class="text-center">Come In(Komi)</b></div>
                    <br />
                    <div class="align-center">
                        <div class="col-md-6">
                            <input name="group5" type="radio" id="radio_13" class="radio-col-black" />
                            <label for="radio_13">Mutlu</label>
                        </div>
                        <div class="col-md-6">
                            <input name="group5" type="radio" id="radio_14" class="radio-col-black" />
                            <label for="radio_14">Mutsuz</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="body">
            <button type="button" class="btn btn-block btn-lg btn-primary waves-effect">Anketi Bitir</button>
        </div>
    </div>
</div>